
.timerDesc{ font-size: 95%; padding: 2px 0 0 2px; text-align: center; }

#countdown { overflow: hidden; }
.countdownTimer{
	margin: 0;
	width: 160px;
}
.countdownTimer h2{
	font-size: 1em;
	margin: 3px 0 0 0;
}

.countdown_row {
	clear: both;
	
	width: 100%;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.countdown_amount {
	font-size: 175%;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
